
<div class="row">
	<div class="col-md-2" id="spaceL">
	</div>
	    <div class="col-md-8 col-xs-12" id="projects" style="margin-top: 0">
				<div class="grid">
					<figure class="effect-zoe" ng-if=" typ == 'myprojects' || projects.length == 0 ">
						<a ui-sref="dashboard.addproject" ><img class="addimage" src="images/add.png" alt="nope"/></a>
							<figcaption>
								<h2>Add new project</h2>
								<p class="icon-links">
									<a href="#"></a>
								</p>
							</figcaption>			
					</figure>
					<figure class="effect-zoe" ng-repeat="project in projects | filter:searchWord " >
						<div ng-click="gotoproject(project.id)">
							<a><img src="images/rectangle.png" alt="nope"/></a>
								<figcaption>
									<h2>{{project.name}}</h2>
									<p class="icon-links">
									</p>
									<p class="description">Designers in this project: {{project.creator}}, {{project.designers}}</p>
								</figcaption>
							</div>	
					</figure>
					<div ng-if="filtered.length == 0">
					</figure>
				</div>
					
	    </div> 
  	<div class="col-md-2" id="spaceR">  			
  	</div>
 </div> 
	
	