<ng-include src="'partials/header.html'" ></ng-include>
  <!-- login -->
  <div class="row">
	<div id="signup" style="background:#48cfae; width:100%; height:100%;">
    	<div class="row">
        <div class="col-md-4">
        </div>
   			<div class="col-md-4 col-xs-12">
            	<div class="col-md-10 col-xs-12">
   				<div class="jumbotron" style="margin:20% 0 20% 0%; ">
          		<form>
              	<div class="row">
                  <div class="col-xs-2">
                  </div>
                  <div class="col-md-12 col-xs-8">
                  	  <div class="row">
                      <center><h2>Sign up</h2></center>
                      <center><div class="form-group" >
                          <input type="text" id="fname" class="form-control" placeholder="First name" ng-model="fname" /></br>
                          <input type="text" id="lname" class="form-control" placeholder="Last name" ng-model="lname" /></br>
                          <input type="text" id="adr" class="form-control" placeholder="Address" ng-model="adr" /></br>
                          <input type="text" id="number" class="form-control" placeholder="Phone number" ng-model="number" /></br>
                          <input type="text" id="email" class="form-control" placeholder="Email" ng-model="email" /></br>
                          <input type="password" id="password" class="form-control" placeholder="Password" ng-model="password" /></br>
                          <button class="btn btn-warning btn-block" ng-click="create()">Create account!</button>
                      </div></center>
                      </div>
                  </div>
              	</div>
          		</form>
                <center>
                	<div id="state">
                	</div>
                </center>
          		</div>
                </div>
      		</div>
     	 </div>
      </div>
    </div>
  <div class="row">
    <div id="stuff" class="jumbotron" style="padding:5% 0 0 0;margin:0 0 0 0;">
      <div class="row"> 
      </div>
    </div>  
  </div> 


