<div class="row">
	<div class="col-md-2" id="spaceL">
	</div>
	    <div class="col-md-8 col-xs-12" id="projects" style="margin-top: 0;">


				<div class="grid">
					<figure class="effect-zoe" ng-if="typ == 'all' || methods.length == 0" id="actionAddNewMethod">
						<a ui-sref="dashboard.addmethod" ><img class="addimage" src="images/add.png" alt="nope" /></a>
							<figcaption>
								<h2>Add new method</h2>
								<p class="icon-links">
									<a href="#"></a>
								</p>
							</figcaption>			
					</figure>
					<figure class="effect-zoe" ng-repeat="method in methods | filter:searchWord " ng-if="selectedType == null">
						<div >
							<img src="images/rectangle.png" alt="nope" ng-click="gotomethod(method.id)"/>
								<figcaption>
									<h2 ng-click="gotomethod(method.id)" >{{method.name}}</h2>
									<p class="icon-links">
										<a ><span class="icon-heart"><img ng-click="addMethodToolkit(method.id)" src="images/round_btn.png" id="addMethodFromToolkit" style="width: 20px; height: 20px;z-index: 999999999;"></span></a>
									</p>
									<p class="description" ng-click="gotomethod(method.id)" >{{method.shortdesc}}</p>
								</figcaption>	
						</div>		
					</figure>
				</div>
					
	    </div> 
  	<div class="col-md-2" id="spaceR">  			
  	</div>
 </div> 
 <div ui-view="info"></div>

 			<div class="container">
			 			<div class="dialog" id="dialog-1">
							<div class="mover-wrap dialog__content">
								<div class="handle"></div>
								<div class="mover">
									<div class="dialog__content-inner">
										<div class="dialog__header">
											<h4 style="margin-bottom: 0px;">Add this activity to your project</h4>
											<h1>{{methodname}}</h1>
											<button class="action action--close">
												<i ng-click="closePopupToolkit()" class="icon icon--cross" id="closeAddWindowFromToolkit" ></i>
												<span class="text-hidden">Close dialog</span>
											</button>
										</div>
										<div class="dialog__body">
											<div class="actions">

														<div class="dropdown-container" id="dropdown-container" ng-class="{ show: listVisible }">
														  <div class="dropdown-display" id="dropdown-display" ng-click="show();" ng-class="{ activated: listVisible }">
														    
														    <span ng-if="selectedDate == undefined ">Select your project
														    	<i class="fa fa-chevron-up" ng-class="{'fa-chevron-down': !listVisible, 'fa-chevron-up': listVisible}"></i>
														 	</span>
														
															<div>
															    <span  ng-if="selectedDate != undefined " >{{selectedDate.name}}
															    	<i class="fa fa-chevron-up" ng-class="{'fa-chevron-down': !listVisible, 'fa-chevron-up': listVisible}"></i>
															 	</span>
														 	</div>
														  </div>
														  <div class="dropdown-list" id="dropdown-list">
														    <div>
														      <div ng-repeat="item in myProjects" ng-click="select(item)" ng-class="{ selected: isSelected(item) }">
														        <span>{{property !== undefined ? item[property] : item.name}}</span>
														      </div>
														    </div>
														  </div>
														</div>

												<div class="mover__element">
														<span class="action__title">What is the status of the activity?</span>
														<div class="choosestatus">
															<div>
													            <input id="radio-1" class="radio-custom" name="todo" type="radio"  value="todo" ng-model="status" checked>
													            <label for="radio-1" class="radio-custom-label">Todo</label>
													        </div>
													        <div>
													            <input id="radio-2" class="radio-custom" name="doing" type="radio" value="doing" ng-model="status">
													            <label for="radio-2" class="radio-custom-label">Doing</label>
													        </div>
													        <div>
													            <input id="radio-3" class="radio-custom" name="done" type="radio" value="done" ng-model="status">
													            <label for="radio-3" class="radio-custom-label">Done</label>
													        </div>
														</div>
														<span ng-show="status == 'done'" class="action__title"  style="margin-top: 15px; float:left;" >What are the insights?</span>
											  			<section ng-show="status == 'done'" class="bgcolor-1" id="insightarea">
															<span class="inputtext input--haruki" id="inputinsight">
																<textarea class="input__field input__field--haruki" id="insights" type="text" ng-model="comments"></textarea>
																<label class="input__label input__label--haruki" id="removeLine" for="input-2">
																	<span class="input__label-content input__label-content--haruki" id="insightlabel" ></span>
																</label>
															</span>
														
														</section>
												</div>

											</div>


										</div>
										<div class="dialog__footer">
											<button class="custombtn" ng-click="addTimeline(selectedDate.name, status, comments)" id="addedMethodFromToolkit" style="margin: 0 30px 30px 30px;" >ADD</button>
										</div>
									</div>
								</div>
							</div>
						</div>
			</div>