<div class="row">
	<div class="col-md-2" id="spaceL">
	</div>
	    <div class="col-md-8 col-xs-12" id="projects">
				<section class="contentSearch bgcolor-1">
					<span class="glyphicon glyphicon-search"></span>
						<span class="inputSearch input--haruki">
							<input class="input__field input__field--haruki" type="text" lang="search" id="input-1" ng-model="searchWord" placeholder="Search for activities, materials, time or difficulty" />
							<label class="input__label input__label--haruki" for="input-1">
								<span class="input__label-content input__label-content--haruki" id="searchthingi"></span>
							</label>
						</span>
				</section>
				<section class="fitler">
		            <ul class="filter_menu">
		              <li class="filter_item"><a  id="all" ng-click="filter(null)" ng-class="{'active': selectedType == null}" >All</a></li>
		              <li class="filter_item"><a  id="research" ng-click="filter('research')" ng-class="{'active': selectedType == 'research'}"> Research</a></li>
		              <li class="filter_item"><a  id="insight" ng-click="filter('insight')"  ng-class="{'active': selectedType == 'insight'}">Insight</a></li>
		              <li class="filter_item"><a  id="strategy" ng-click="filter('strategy')"  ng-class="{'active': selectedType == 'strategy'}">Strategy</a></li>
		              <li class="filter_item"><a  id="proof" ng-click="filter('proof')"  ng-class="{'active': selectedType == 'proof'}">Proof of Concept</a></li>
		              <li class="filter_item"><a  id="define" ng-click="filter('define')"  ng-class="{'active': selectedType == 'define'}">Define</a></li>
		              <li class="filter_item"><a  id= "productdesign" ng-click="filter('productdesign')"  ng-class="{'active': selectedType == 'productdesign'}">Product Design</a></li>
		              <li class="filter_item"><a  id="other" ng-click="filter('other')"  ng-class="{'active': selectedType == 'other'}">Other</a></li>
		            </ul>
				</section>

				<div class="grid">
					<figure class="effect-zoe">
						<a ui-sref="dashboard.addmethod" ><img class="addimage" src="images/add.png" alt="nope" /></a>
							<figcaption>
								<h2>Add new method</h2>
								<p class="icon-links">
									<a href="#"></a>
								</p>
							</figcaption>			
					</figure>
					<figure class="effect-zoe" ng-repeat="method in filtered | filter:searchWord">
						<div ng-click="gotomethod(method.id)">
							<img src="images/rectangle.png" alt="nope"/>
								<figcaption>
									<h2>{{method.name}}</h2>
									<p class="icon-links">
										<a><span class="icon-heart"><img src="images/round_btn.png" id="addicon" style="width: 20px; height: 20px;"></span></a>
									</p>
									<p class="description">{{method.shortdesc}}</p>
								</figcaption>
							</div>		
					</figure>
					<figure class="effect-zoe" ng-repeat="method in methods | filter:searchWord " ng-if="filtered.length == 0">
						<div ng-click="gotomethod(method.id)">
							<img src="images/rectangle.png" alt="nope"/>
								<figcaption>
									<h2>{{method.name}}</h2>
									<p class="icon-links">
										<a ><span class="icon-heart"><img src="images/round_btn.png" id="addicon" style="width: 20px; height: 20px;"></span></a>
									</p>
									<p class="description">{{method.shortdesc}}</p>
								</figcaption>	
						</div>		
					</figure>
				</div>
					
	    </div> 
  	<div class="col-md-2" id="spaceR">  			
  	</div>
 </div> 