@font-face {
  font-family: 'codropsicons';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/codropsicons/codropsicons.eot');
  src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

body{

  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  background: #f8f8f8 !important;
  overflow-x: hidden;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

nav.menu.menu--prospero {
    margin-bottom: 0px !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    padding: 20px 0;
    z-index: 100;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
}

.menu__list{
    padding-left: 16.66% !important;
    max-width: 83.32% !important; 
}

h2{
  font-size: 1.2em !important;  
}

a {
  text-decoration: none;
  color: #ffcc00;
  outline: none;
}

a:hover,
a:focus {
  color: #ffcc00;
  text-decoration: none;

}

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label a{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ffcc00;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: #ffcc00;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio-custom + .radio-custom-label:before {
}

.radio-custom:checked + .radio-custom-label:before {
    background: #ffcc00;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.choosestatus{
  text-align: left;
  margin-top: 30px;
}

label{
  font-size: 1.5em;
}
.custombtn {
    background: none;
    height: 70px;
    line-height: 10px;
    border: 3px solid;
    border-color: #ffcc00;
    display: inline-block;
    float: none;
    width: 180px;
    padding: 0px!important;
    font-size: 18px;
    top: 20%;
    text-align: center;
    margin: 0 0 0 0;
    color: #ffcc00;
	  font-weight: bold;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  -webkit-appearance: none; /* for box shadows to show on iOS */
	  letter-spacing: 0.1em;
}

.custombtn:hover  {

  color:  #FFFFFF;
  border-color: none;
  background: #ffcc00;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	transform: scale(1);
 }

.custombtn2{
    background: none;
    height: 70px;
    line-height: 10px;
    display: inline-block;
    float: none;
    width: 180px;
    padding: 0px!important;
    font-size: 18px;
    top: 20%;
    text-align: center;
    margin: 0 0 0 0;
    color: #444444;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
    letter-spacing: 0.1em;
    border:none;
}

.custombtn2:hover  {

  color:  #ffcc00 !important;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  transform: scale(1);
 }

 .custombtn2 a{

    color: #444444;

 }

 .custombtn2 a:hover{

    color:  #ffcc00;

 }
.custombtn3{
    background: none;
    height: 70px;
    line-height: 10px;
    display: inline-block;
    float: none;
    width: 180px;
    padding: 0px!important;
    font-size: 18px;
    top: 20%;
    text-align: center;
    margin: 0 0 0 0;
    color: #444444;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
    letter-spacing: 0.1em;
    border:none;
}

.custombtn3:hover  {

  color:  #ff0000 !important;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  transform: scale(1);
 }

 .custombtn3 a{

    color: #444444;

 }

 .custombtn3 a:hover{

    color:  #ff0000 !important;

 }
/*
.timelineProfile{
    border-radius: 2000px;
    margin-left: 30px;
    float: left;
    border: solid 2px;
}
*/
.timelineProfile{
    border-radius: 2000px;
    float: right;
    margin-top: 125px;
    border: #fff solid 2px;
}

.effect-zoe:last-child {
    margin-bottom: 50px;
}

.media:last-child {
    margin-bottom: 50px;
}

/* HOME PAGE STYLE*/

#homePage{

	background-size: cover;
  	height: 100vh;
  	background: #f8f8f8;
    /*background: URL(/images/home.png);*/
  	position: fixed;
  	background-repeat: no-repeat;
}

/* Header CSS*/

#logo {

    margin-right: 1.5em;
    margin-left: 6px;
}

#user{

    right: 0;
    float: right;
    position: absolute;
    margin: 0px !important;

}

.input__label--haruki::before{

	display: none !important;

}

.content {

    font-size: 150%;
    padding-top: 40% !important;

}

#loginbtn{

	margin-top: 0px;

}

/* Projects CSS*/

#projects{

/*  	background-size: cover;
  	background: #f8f8f8;
  	background-repeat: no-repeat;
    */
    position: relative;

    margin-top: 60px;
}

/* Toolkit CSS */

/*
#spaceR, #spaceL{

    background-size: cover;
    height: 100vh;
    background: #f8f8f8;
    position: relative;
    background-repeat: no-repeat;

}
*/

*:focus {
    outline: none;
}

/* search */
:lang(search) {
    padding: 0 1em !important;
}

#searchthingi{

  margin-bottom: 10px;
}

.inputSearch {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    width: 100%;
    vertical-align: top;
}

.glyphicon {
    position: absolute !important;
    font-weight: bold !important;
    margin: 4.3em 6px 1em !important;
    color: #6a7989 !important;
}

/*filter */

.filter{

  line-height: 1;
  margin: 0 auto 3em;

}

.filter_menu {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 1.2em 0 0 0;
}

.filter_item {
  display: block;
  margin: 1em 6px 1em;
  font-family: 'Avenir Next';
  font-size: 120%;
  margin: 1em 1.7em 1em 6px;
}

.filter_item a {
  font-family: 'Avenir Next';
  font-weight: bold;
  color: #c5c5c5;
}

.filter_item a:hover {
  color: #ffcc00;
}


.filter_item.active {
    font-weight:bold;
    color:#ffcc00;
    outline: none;

}

.filter_item:hover{
    outline: none;
    color: #929292;
    text-decoration: none !important;
}

#research.active{
    outline: none;
    color: #ffcc00;
    text-decoration: none !important; 

}

#insight.active{
    outline: none;
    color: #ffcc00;
    text-decoration: none !important; 

}

#strategy.active{
    outline: none;
    color: #ffcc00;
    text-decoration: none !important; 

}

#proof.active{
    outline: none;
    color: #ffcc00;
    text-decoration: none !important; 

}

#define.active{
    outline: none;
    color: #ffcc00;
    text-decoration: none !important; 

}

#productdesign.active{
    outline: none;
    color: #ffcc00;
    text-decoration: none !important; 

}

#other.active{
    outline: none;
    color: #ffcc00;
    text-decoration: none !important; 

}

#all.active{
    outline: none;
    color: #ffcc00;
    text-decoration: none !important; 

}

#concept.active{
    outline: none;
    color: #ffcc00;
    text-decoration: none !important; 

}

#myprojects.active{
    outline: none;
    color: #ffcc00;
    text-decoration: none !important; 

}
/* Add Method */

.contentAdd{
    font-size: 150%;

}

.inputAdd {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    width: calc(100% - 30px);
    vertical-align: top;
}

.addHeader {
    margin-top: 60px;
    margin-left: 6px;
}

.addHeader h1 {
  margin-top: 0px;
  font-weight: bold;
}

#longdesc{
      border: 4px solid #444444 !important;
      height: 405px;
}

#removeLine::after{
  display: none !important;
}

#addbtnmethod{
    margin: 30px;
    margin-bottom: 50px;
}

#addmethodcolor{
  width: 100vw;
  background: #f8f8f8;
}
/**
   Coded by /u/j0be in scss.
   See scss source here -> http://codepen.io/j0be/pen/MKRVyN
*/

drop-down { display: block; width: calc(100% - 30px); }
drop-down > div { float: left; width: calc(100% - 30px); height: 2.7em; } 
.icon { color: #888; margin-left: 5px; } 
.dropdown-display { float: left; width: calc(100% - 30px); height:  3.7em; line-height: 40px; cursor: pointer; box-sizing: border-box; border-bottom: 4px solid #444444; color: #afb5bb; margin-left: 6px; padding: 0.4em 0.25em;     margin-bottom: 23px;} 
.dropdown-display svg { margin-left: 5px; } 
.dropdown-display > * { float: left; height: 100%; text-align: left; display: inline-block; vertical-align: middle; } 
.dropdown-display > span { font-size: 1.55em; width: calc(100% - 30px); position: relative; font-weight: bold} 
.dropdown-display > span > i { font-size: 1.55em; color: #888888; } 
.dropdown-display > span.placeholder { color: #aaaaaa; } 
.dropdown-list { float: left; position: relative; width: 100%; transform: scale(1, 0); transition: transform ease 400ms; color: #afb5bb; } 
.dropdown-list > div { position: absolute; width: calc(100% - 30px); z-index: 2; cursor: pointer; background: #f8f8f8; } 
.dropdown-list > div > div { float: left; width: 100%; font-size: 1.55em; box-sizing: border-box; border-bottom: solid 2px #444444; margin-left: 6px; background: #f8f8f8;} 
.dropdown-list > div > div:hover { font-weight: bold; } 
.selected { color: #993333; } 
.dropdown-list > div > div > * { height: 2em; line-height: 45px !important; display: inline-block; vertical-align: middle; padding: 0.4em 0.25em;} 
.dropdown-list > div > div > span { float: left; width: calc(100% - 30px); position: relative; text-align: left; box-sizing: border-box; color: inherit; } 
.dropdown-list > div > div > i { float: left; width: 20px; margin-left: -20px; display: none; } 
.dropdown-list > div > div.selected > i { display: inline-block; } 
.show > div.dropdown-list { transform: scale(1, 1);     z-index: 999999; } 

.dropdown-container{
  font-size: 150%;
  margin-top: 202px;
}

/* Add Project */

#dropdownproject{
  margin-top: 50px;
}

#textarea{
  margin-top: 200px;
}

#brief{
    border: 4px solid #444444 !important;
    height: 325px;
}

.addimage{
      bottom: 20px;
}

/* single method */
.methoddesc h1{
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 4em;
  font-weight: bold;

}

.methoddesc p{
  line-height: 2em;
  margin-right: 50px;

}

.methoddesc h5{
  margin-bottom: 0px;

}

.methoddesc{
  margin-top: 60px;
}


#medthodinfo1, #medthodinfo2{
  margin-top: 120px;
}

#medthodinfo1 h5, #medthodinfo2 h5{
  font-weight: bold;
  text-transform: capitalize;

}

#medthodinfo1 p, #medthodinfo2 p{
  margin-bottom: 40px;
  text-transform: capitalize;
  
}

.media-heading {

  font-weight: bold;

}

.media-body h2{
  font-size: 30px !important;
}

.methodinsight h1{
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 4em;
  font-weight: bold;

}

.timelinestyle h1{
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 4em;
  font-weight: bold;

}
.timelinestyle {
  margin-top: 60px;

  
}
.methodinsight{
  margin-top: 60px;
}

.methodinsight p{
  line-height: 2em;
  margin-right: 50px;

}

.media-object{
  border-radius: 30px;
}

/* Signle Project */



.timeline {
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
    position: relative;
    border-spacing: 10px 0;
}

.child-element {
    min-width: 370px;
    height: 260px;
    display: table-cell;
}

.add {
    border: 8px solid #D4D4D4;
}

.todo {
    border: 8px solid #D4D4D4;
    padding-right: 30px;
    max-width: 370px;

}


.doing {
    border: 8px solid #4D4D4D;
    padding-right: 30px;
    max-width: 370px;


}

.done {
    background: #4D4D4D;
    color: white;
    padding-right: 30px;
    max-width: 370px;


}

::-webkit-scrollbar { 
    display: none; 
}

#projectinfo{
    margin-top: 140px;
}


#projectinfo p{
    line-height: 2em;
}

.todo h2, .doing h2, .done h2{
    font-size: 2em !important;
    padding-left: 30px;
    padding-top: 20px;
    font-weight: bold;
    padding-right: 30px;

  }

.todo p, .doing p, .done p{
    padding-left: 30px;
    white-space: normal;
    overflow: hidden;
    max-height: 140px !important;
  }

.add h1, .add p, .todo p, .todo h2 {
  color: #D4D4D4;
}

.child-element.add{
  text-align: center;
  vertical-align: middle;

}

.add:hover, .todo:hover, .doing:hover {
    border-color: #ffcc00;
    cursor: pointer;
}

.add:hover p, .todo:hover p, .doing:hover p, .add:hover h1, .todo:hover h2, .doing:hover h2{
    color: #ffcc00;
    cursor: pointer;
}

.done:hover{
    background: #ffcc00;
    cursor: pointer;
}

#addbtn{
  margin: 0 30px 30px 30px;
}



.radioButtondemoBasicUsage body {
  padding: 20px; }

.radioButtondemoBasicUsage hr {
  margin-left: -20px;
  opacity: 0.3; }

.radioButtondemoBasicUsage md-radio-group {
  width: 150px; }

.radioButtondemoBasicUsage p:last-child {
  padding-bottom: 50px; }

.radioButtondemoBasicUsage [ng-controller] {
  padding: 0 20px; }

.radioButtondemoBasicUsage .radioValue {
  margin-left: 5px;
  color: #0f9d58;
  font-weight: bold;
  padding: 5px; }

.radioButtondemoBasicUsage md-icon {
  margin: 0 20px 20px;
  width: 128px;
  height: 128px; }

.radioButtondemoBasicUsage .ipsum {
  color: saddlebrown;
  font-size: 0.9em; }

  #dropdown-display{
    width: 100%;
    color: #444444;
    margin-left: 0px;
    font-weight: bold;
    height: 0px;
    margin-bottom: 0px;
    padding-bottom: 40px;

  }

  #dropdown-display > span{
    font-size: 1em;
  }
  #dropdown-list{
    color: #444444;
    width: 100%;
    background: #ffffff;
  }

  #dropdown-list > div > div {
    background: #ffffff;
    margin-left: 0px;
    font-size: 1em;
    padding-bottom: 15px;
  }

  #dropdown-list > div {
      width: 100%;
  }

  span.action__title{
    margin-top: 100px;
  }

  #dropdown-container{
    margin-top: 0px;
  }


#insightarea{
  margin-top: 0px;
}

#insights{
  border: 4px solid #444444;
  height: 300px;
  padding-left: 0.5em;
  padding-top: 0.5em;

}

#insightlabel{
  font-size: 3em;
  padding-left: 0.5em;
  padding-top: 0.5em;

}

.inputtext{
  width: 100%;
}

span#inputinsight {
    margin: 0px;
}

/* user page */

.profile{
  border-radius:  2000px;
  margin-top: 30px;
}

.userinfo{
  margin-top: 100px;
}


